.select {
  @include font($font-family, 14px, 700, $font-color);
  position: relative;
  width: 71px;
  text-transform: uppercase;
  z-index: 2;
}

.select__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $control-panel-main-color;
  border: 1px solid rgba(228, 227, 227, 0.2);
  border-radius: $border-radius;
  height: 44px;
  cursor: pointer;
}

.select__body {
  display: flex;
  opacity: 0;
  flex-direction: column;
  background-color: $control-panel-main-color;
  border-radius: $border-radius;
  position: absolute;
  left: 0;
  right: 0;
  max-height: 0px;
}

.select_opened .select__body {
  animation: show-select 0.4s ease forwards 0.1s;
}

@keyframes show-select {
  from {
    top: 35px;
    opacity: 0;
    max-height: 0px;
  }

  to {
    top: 47px;
    opacity: 1;
    max-height: 132px;
  }
}

.select__item {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: $control-panel-main-color;
  height: 44px;
  cursor: pointer;
  
  &:hover {
    background-color: $control-panel-secondary-color;
  }
  &:first-child {
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }
  &:last-child {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}

.select_opened .select__item {
  display: flex;
}

.select__icon {
  @extend %icon;
  background-image: url("../../assets/icon_select.svg");
  background-size: cover;
  width: 12px;
  height: 7px;
  transition: all 0.3s;
}

.select__icon_opened {
  transform: rotate(180deg);
}

.select__icon_closed {
  transform: rotate(0deg);
}
