* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9b9999;
}

.App {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fading-in 0.5s ease;
}

@keyframes fading-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.wrapper {
  max-width: 1288px;
  margin: 0 auto;
  letter-spacing: 1px;
  transition: 0.2s ease;
}

.icon_weather {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-size: cover;
  background-color: rgba(255, 253, 253, 0.4);
  border-radius: 50%;
}
