$font-color: #ffffff;
$control-panel-main-color: rgba(199, 200, 201, 0.65);
$control-panel-secondary-color: rgba(101, 107, 110, 0.65);
$font-family: 'Montserrat', sans-serif;
$border-radius: 5px;

$laptop-width: 1288px;
$tablet-width-big: 1020px;
$tablet-width-small: 768px;
$mobile-width-big: 480px;
$mobile-width-small: 375px;