.current-forecast {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.current-forecast__temperature {
  display:flex;
  justify-content: flex-start;
}

.current-forecast__degrees {
  @include font($font-family, 256px, 500, $font-color);
  display: inline-block;
}

.current-forecast__degrees-sign {
  @include font($font-family, 100px, 700, $font-color);
  display: inline-block;
  margin-top: 40px;
}

.current-forecast__indicators {
  @include font($font-family, 17px, 600, $font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  margin-left: 15px;
}

.current-forecast__measure-unit {
  text-transform: lowercase;
}

.current-forecast__indicator {
  margin-bottom: 8px;
}

.current-forecast__weather-icon {
  margin-left: -20px;
}
