.future-forecast {
  display: flex;
  flex-direction: row;
}

.future-forecast__day {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.future-forecast__weather-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.future-forecast__week-day {
  @include font($font-family, 22px, 600, $font-color);
  text-align: center;
  text-transform: uppercase;
}

.future-forecast__degrees,
.future-forecast__degrees-sign {
  @include font($font-family, 70px, 600, $font-color);
}

.future-forecast__weather-icon {
  @extend %icon-weather;
  margin-left: -20px;
}

@include media-laptop {
  .future-forecast__degrees,
  .future-forecast__degrees-sign {
    @include font($font-family, 65px, 600, $font-color);
  }
}

@include media-tablet-big {
  .future-forecast__degrees,
  .future-forecast__degrees-sign {
    @include font($font-family, 50px, 600, $font-color);
  } 
}

@include media-tablet-small {
  .future-forecast {
    flex-direction: column;
  }

  .future-forecast__day {
    margin-top: 30px;
  }

  .future-forecast__weather-container {
    justify-content: center;
  }
  
}

