.search-panel__input {
  @extend %input;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-panel__button {
  @extend %button;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@include media-mobile-small {
  .search-panel__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-panel__input {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .search-panel__button {
    margin-top: 10px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}

