.search-panel {
  position: relative;
}

.search-panel__input {
  @extend %input;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 35px;
}

.search-panel__button {
  @extend %button;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-panel__microphone {
  @extend %icon;
  width: 27px;
  height: 27px;
  background-image: url("../image/icon_microphone.svg");
  background-size: cover;
  position: absolute;
  right: 110px;
  top: 8px;
}

.search-panel__microphone_listening {
  animation: listening 0.5s alternate ease infinite;
}

@keyframes listening {
  from {
    transform: scale(0.85);
  }

  to {
    transform: scale(1.15);
  }
}

@include media-mobile-big {
  .search-panel__microphone {
    right: 10px;
  }
}

@include media-mobile-small {
  .search-panel__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-panel__input {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .search-panel__button {
    margin-top: 10px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
}
